:root {
  /* COLORS*/
  --color-primary: #2b1732;
  --color-primary-bg: #7931f7;
  --color-primary-text: #2d0f37;
  --color-secondary-bg: #fcb069;
  --color-secondary-text: #fa9f4b;
  --color-neutral: #b5b4b2;

  /*FONTS*/
  --font-family: 'Roboto', system-ui, sans-serif;
  --font-weight: 400;
  --font-size-body: 14px;

  /* BORDER RADIUS */
  --border-radius-sm: 4px;
}

@media (max-width: 600px) {
  :root {
    --font-size-body: 10px;
  }
}
